.head,.content{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid gainsboro;
}
h1{
    color: black;
    text-align: center;

}
.content{
    overflow: hidden;
}
#indiv,#outdiv,#rediv{
    float: left;
    padding: 20px;
    box-sizing: border-box;

}
#indiv{
    width: 25%;
}
#outdiv{
    width: 30%;
}
#rediv{
    width: 45%;
}
span{
    margin: 5px;
    font-weight: 800;
}
.intext{
    margin: 5px;
}
.bigBtn{
    margin: 0 auto;
    width: 100px;
    height: 30px;
    font-size: 20px;
    display: block;
}
.outtext{
   line-height: 30px;
    height: 30px;
    margin: 5px;
}
.tobtn{
    width: 50px;
    height: 30px;
    margin: 5px;
}