<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/images/css/fy.css"/>
    <script type="text/javascript" src="/images/js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="/images/js/fy1.js" ></script>

</head>
<body>
<div class="head"><h1>有道中英文翻译</h1></div>
<div class="content">
    <div id="indiv">
        <span>中文:</span>
        <div id=" froDiv">
            <textarea name="intext" id="intext" class="intext" cols="30" rows="10"></textarea>
            <br/>
            <input id="in_btn" class="bigBtn" type="button" value="翻译"/>
            <input id="read_btn" class="bigBtn" type="button" value="批量翻译"/>
        </div>

    </div>
    <div id="outdiv">
        <span>英文:</span>
        <div id="textdiv1">
            <input type="text" class ="outtext" id="outtext00"/>
            <input type="button" id="tobtn00" class="tobtn" value="导出"/>
            </div>
        <div id="textdiv"></div>

    </div>

    <div id="rediv">
        <span>结果：</span>
        <br/>
        <textarea  id="resulttext1" class="intext" rows="30" cols="30"></textarea>
        <button id="rebtn" class="tobtn">保存</button>
    </div>


</div>
</body>
</html>